{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="form-group">
        <h4>Your informations</h4>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.lastname'|trans }}</label>
        <div>{{ user.lastname }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.username'|trans }}</label>
        <div>{{ user.username }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.born'|trans }}</label>
        <div>{{ user.born|date("d/m/Y") }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.email'|trans }}</label>
        <div>{{ user.email }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.genre'|trans }}</label>
        <div>{{ user.shortGenre }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.race'|trans }}</label>
        <div>{{ user.race.name }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.family'|trans }}</label>
        <div>{{ user.family.name }}</div>
    </div>
    <div class="form-group">
        <label>{{ 'profile.show.foods'|trans }}</label>
        <div>
        {% for food in user.foods %}
            {{ food.name~' ' }}
        {% endfor %}
       </div>
    </div>
</div>
