{# app/Recourses/views/publics/about.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
{{ include('include/publics/head.html.twig') }}
{% endblock %}

{% block main %}
    <div class="container" id="main">
        <div id="" class="row">
            <div class="col-xs-12">
                <h2>Members Bonobos</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-xs-12">
                <table class="table" width="100%">
                    <tbody>
                        <tr>
                            <th>Create</th>
                            <th>Username</th>
                            <th>Genre</th>
                            <th>Born</th>
                            <th>Race</th>
                            <th>Family</th>
                            <th>Add friend</th>
                        </tr>
                        {% for row in rows %}
                            <tr id="{{ 'row'~row.id }}">
                                <td>{{ row.create_at }}</td>
                                <td><b>{{ row.username }}</b></td>
                                <td>{{ app.user.showGenre(row.genre) }}</td>
                                <td>{{ row.born }}</td>
                                <td>{{ row.race }}</td>
                                <td>{{ row.family }}</td>
                                <td>
                                    <button class="btn" name="friend-insert"><i class="fa fa-check"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('skin/css/styles.css') }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('skin/js/publics/members.js') }}"></script>
{% endblock %}
